@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

:root {
    --backcolor1: #1f242d;
    --backcolor2: #242b37;
    --backcolor3: #2e4057;

    --secondary: #B8F3FF;
    --accent: #63768D;
    --accent2: #554971;
    --accent3: #94accb;
    --lightpurpleTrans: rgba(55, 7, 67, 0.162);

    --fs-h1: 5rem;
    --fs-h1-span: 6rem;
    --fs-h2: 4rem;
    --fs-h3: 2rem;
    --fs-h4: 1.4rem;
    --fs-p: 1rem;

    --fs-navlogo: 2rem;
    --fs-navli: 1.5rem;
    --fs-rebtn: 1rem;
    --fs-scbtn: 1.2rem;
    --fs-asidebtn: 3rem;

    --secondaryResp: #5b2dbd;
}

@media (max-width:600px) {
    :root {
        /* --secondary: #67db50; */
        --secondary: #B8F3FF;
        --fs-h1: 2rem;
        --fs-h1-span: 3.5rem;
        --fs-h2: 2rem;
        --fs-h3: 1.3rem;
        --fs-h4: 1.4rem;
        --fs-p: 0.7rem;

        --fs-navlogo: 1rem;
        --fs-navli: 0.7rem;
        --fs-rebtn: 1rem;
        --fs-scbtn: 1rem;
        --fs-asidebtn: 1.5rem;
    }

    .homeSec {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: 100% !important;
        /* margin-top: -50px; */
        padding: 5% 2% 5% 2% !important;

        overflow: hidden;
    }

    .homeInfo {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 5px;
    }

    .typing-text span
    {
        -webkit-text-stroke: .7px var(--secondary);
    }

    .homeS-img:hover {
        /*   transform: scale(1.1) translateX(20%)!important; */
    }

    .homeS-img-Box,
    .homeS-img-Box::before,
    .homeS-img-Box::after {
        padding: 2px !important;
        width: 65vw !important;
        height: 65vw !important;
    }

    #aboutSec p {
        padding: 0 !important;
    }

    #contactSec p {
        padding: 0 !important;
    }

    .projectSec p {
        font-size: var(--fs-p);
    }


    .contactForm
    {
        width: 80% !important;
        height:200px !important;
    }
    .btn-up
    {
        right:-0.2em !important;
        bottom:0.5em !important;
    }
    .btn-up a {
        font-size: 3rem !important;
    }

}

/*
    body{
        background: red;
    }

  


    .homeInfo
    {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .homeInfo p
    {
        text-align: justify;
    }

    .projectSec
    {
        max-width: 100vw;
        overflow: hidden;
    }

    .pCardsContain
    {

    }
    .pCardsContain, .pCardsBox
    {
        max-width: 100vw;
    }

} */

/* ---------Desktop CSS----------- */



html {
    scroll-behavior: smooth;

}

body {
    background: var(--backcolor1);
    margin-top: 75px;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

img {
    width: 100%;
    height: auto;
}

main {
    display: flex;
    flex-direction: column;
}

/* <------------Header-----------> */
header {
    width: 100%;
    position: fixed;
    z-index: 100;
}

a {
    color: rgb(240, 240, 240);
    text-decoration: none;
}

.navBar {
    background: var(--backcolor3);
    position: fixed;
    width: 100%;
    height: 75px;
    left: 0;
    top: 0;
    padding: 25px 9%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    visibility: hidden;
    opacity: 0;
    animation: show-content 1.2s linear forwards;
    animation-delay: 0.5s;
}

.navBar .logoImage {
    font-size: var(--fs-navlogo);
    font-weight: 800;
    transition: .5s ease-in-out;
}

.navBar .logoImage:hover {
    transform: scale(1.05) translateY(-2%);
    border-bottom: 2px solid var(--accent3);
    color: var(--accent3);
}

.navBar ul {
    display: flex;
}

.navBar ul li {
    list-style-type: none;
    margin-left: 3rem;
    transition: .5s;
}

.navBar ul li:hover {
    transform: scale(1.1) translateY(-5%);
}

.navBar ul li a {
    font-size: var(--fs-navli);
    font-weight: 800;
    transition: 0.5s ease;
}

.navBar ul li:hover a,
.navBar ul li.active a {
    color: var(--accent3);
    border-bottom: 2px solid var(--accent3);
}

/* <------------Header End-----------> */

/* <------------WrapperAnimation-----------> */

.wrapperBarsAnim {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.wrapperBarsAnim .bar {
    width: 100%;
    height: 100%;
    background: var(--backcolor2);

    transform: translateY(-100%);
    animation: show-bars .7s ease-in forwards;
    animation-delay: calc(.07s * var(--i));
    opacity: 1;

    overflow: hidden;
}

@keyframes show-bars {
    1% {
        transform: translateY(-50%);
    }

    25% {
        transform: translateY(0%);
        opacity: 0.8;
    }

    50% {
        transform: translateY(50%);
        opacity: 0.6;
    }

    75% {
        transform: translateY(125%);
        opacity: 0.4;
        color: var(--backcolor1)
    }

    100% {
        opacity: 0;
        color: var(--backcolor1);
        visibility: hidden;
    }
}

@keyframes show-content {
    10% {
        visibility: visible;
        opacity: 0.3;
    }

    50% {
        visibility: visible;
        opacity: 0.6;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

/* <----------WrapperAnimation End---------> */

/* <------------Home Section-----------> */

.homeSec {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 1px 9% 0;
    gap: 5px;
    color: whitesmoke;

    visibility: hidden;
    opacity: 0;

    animation: show-content 1s linear forwards;
    animation-delay: 0.5s;
}


.homeInfo {
    display: flex;
    flex-direction: column;
}

.homeInfo h1 {
    font-size: var(--fs-h1);
    font-weight: 700;

    opacity: 0;
    animation: show-content 1s linear forwards;
    animation-delay: 0.7s;
}

.homeInfo h1 span {
    font-size: var(--fs-h1-span);
    color: var(--accent);

    opacity: 0;
    animation: show-content 1s linear forwards;
    animation-delay: 0.9s;
}


/*<-----H3 Animation Fail :)----->*/
/*<-----Responive Compatibility------->*/
/* .homeInfo h3 {
    font-size: var(--fs-h3);
    font-weight: 700;
    margin-top: -10px;
    letter-spacing: 1.5px;

    opacity: 0;
    animation: show-content 1s linear forwards;
    animation-delay: 0.8s;
}

.homeInfo h3 span {
    display: inline-block;
    position: relative;
    color: transparent;
    margin-bottom: 0.3rem;
    -webkit-text-stroke: .7px var(--secondary);
    animation: display-h3 15s linear infinite;
    animation-delay: calc(-3s * var(--l));
}

.homeInfo h3 span::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid var(--secondary);
    color: var(--secondary);
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 3s linear infinite;
}

@keyframes display-h3 {

    20%,
    100% {
        display: none;
    }
}

@keyframes fill-text {

    10%,
    100% {
        width: 100%;
    }

    70%,
    100% {
        width: 0%;
    }
}

*/
/*<-----H3 Animation Fail :)----->*/
/*<-----Responsive Compatibility------->*/

@keyframes fill-text 
{
    10%, 100% {width: 100%;}
    70%, 100% {width: 0%;}
}

.typing-text h3
{
    font-size: var(--fs-h3);
    margin-bottom: 1rem;
    font-weight: 700;


}
.typing-text
{
    font-size: var(--fs-h3);
    font-weight: 700;
    min-width: 280px; 
    text-align: justify;
    opacity: 0;
        animation: show-content 1s linear forwards;
        animation-delay: 1s;
}
.typing-text span
{
    display: inline-block;
    position: relative;
    color: var(--secondary);
    opacity: 0.9;
    margin-bottom: 0.3rem;
    -webkit-text-stroke: .7px var(--secondary);
    animation-delay: calc(-3s * var(--l));
}

.typing-text span::before
{
    content:"Full-Stack Developer";
    color:#20606b;
    animation: words 15s infinite;
}

.typing-text span::after
{

    content: "";
    background: var(--secondary);
    opacity: 0.4;
    height: 100%;
    width: calc(100%+8px);
    border-left: 3px solid var(--secondary);
    right:-2px;
    width: 0;
    

    position: absolute;
    color: var(--secondary);
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 3s linear infinite;
}

@keyframes words
{
    0%, 20%{content:"Full-Stack Developer.";}
    21%, 40%{content:"Real Estate Professional.";}
    41%, 60%{content:"Musician.";}
    61%, 80%{content:"Team Player.";}
    81%, 100%{content:"Good Hire :)";}
}

.homeInfo p {
    width: 90%;
    font-size: var(--fs-p);
    margin: 10px 0px 25px;

    visibility: hidden;
    opacity: 0;
    animation: show-content 1s linear forwards;
    animation-delay: 0.8s;
    transition: 0.5s;
}

.homeInfo p:hover {
    transform: scale(1.005);
    color: rgb(226, 224, 224);
}

.homeInfo .snrIcons {
    display: flex;
    align-items: center;

    visibility: hidden;
    opacity: 0;
    animation: show-content 1s linear forwards;
    animation-delay: 1.1s;
}

.btn-sci {
    display: inline-block;
    padding: 10px 30px;
    background: var(--secondary);
    border: 2px solid var(--secondary);
    border-radius: 40px;
    box-shadow: 0 0 10px var(--secondary);

    font-size: var(--fs-rebtn);
    color: var(--backcolor1);
    font-weight: 600;

    transition: .5s;
}

.btn-sci:hover {
    background: transparent;
    color: var(--secondary);
    box-shadow: 0 0 5px var(--secondary);
    transform: scale(1.1) translateY(-5%);
}

.homeSec .snrIcons .socialIcons {
    margin-left: 20px;
}

.homeSec .snrIcons .socialIcons a {
    display: inline-flex;
    padding: 8px;
    margin: 0 8px;
    border: 2px solid var(--secondary);
    border-radius: 50%;
    font-size: var(--fs-scbtn);
    color: var(--secondary);

    transition: 0.5s;
}

.homeSec .snrIcons .socialIcons a:hover {
    background-color: var(--secondary);
    color: var(--backcolor1);
    box-shadow: 0 0 10px var(--secondary);
    transform: scale(1.3) translateY(-10%);
}

.homeS-img {
    transition: 2s;
    opacity: 0.85;
    border-radius: 50%;
}

.homeS-img:hover {
    transform: translate(20px, -10px) scale(1.01);
    opacity: .5;
    /*  background-color: var(--backcolor2); */
    border-radius: 50%;
    box-shadow: 5px 5px 15px 0px rgba(76, 159, 242, 0.05);
}

.homeS-img .homeS-img-Box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 30vw;
    padding: 2px;
    border-radius: 50%;

    overflow: hidden;
    z-index: 1;

    visibility: hidden;
    opacity: 0;
    animation: show-content 1s linear forwards;
    animation-delay: 1s;
}

.homeS-img .homeS-img-Box::before,
.homeS-img .homeS-img-Box::after {
    content: ' ';
    position: absolute;
    width: 30vw;
    height: 30vh;
    background: conic-gradient(transparent, transparent, transparent, var(--secondary));

    transform: rotate(0deg);
    animation: rotate-border 6s linear infinite;
}

.homeS-img .homeS-img-Box::after {
    animation-delay: -3s;
}

@keyframes rotate-border {
    100% {
        transform: rotate(360deg);
    }
}

.homeS-img .homeS-img-Box .homeS-img-Item {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--backcolor1);
    /*   border: .2px solid var(--backcolor1); */
    border-radius: 50%;

    z-index: 1;
    overflow: hidden;
}

.homeS-img .homeS-img-Box .homeS-img-Item img {
    position: absolute;
    display: block;
    width: 85%;
    object-fit: cover;
    border-radius: 50%;
    mix-blend-mode: lighten;
}

/* <------------End Home Section-----------> */


/* <--------------Aside Bar-------------> */
#asideBar {
    background: var(--backcolor2);
    min-height: 100px;
}

.asideBox {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 10px;
    padding-top: 10px;
    justify-content: space-evenly;
}

.asideItem {

    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: transparent;
}

.asideItem a {

    display: flex;
    flex-grow: grow;

    padding: 10px;

    border: 2px solid var(--secondary);
    border-radius: 50%;
    font-size: var(--fs-asidebtn);
    color: var(--secondary);
    background-color: var(--backcolor3);
    box-shadow: 0 0 5px var(--secondary);
    transition: 0.5s;
}

.asideItem a:hover {
    background-color: var(--secondary);
    color: var(--backcolor3);
    border: 2px solid var(--backcolor3);
    box-shadow: 0 0 5px var(--secondary);
    transform: scale(1.1) translateY(-5%);
}

/* <------------Aside Bar End-----------> */


/* <------------Projects Section-----------> */

.projectSec {
    background: var(--accent3);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    padding: 70px 25px 25px 25px;

    overflow: hidden;
}

.projectSec h2 {
    color: var(--backcolor3);
    font-size: var(--fs-h2);
    text-decoration: underline;
}

.pCardsContain {
    background: var(--accent3);

    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.pCardsBox {
    background: transparent;
    min-height: 400px;
    padding: 0;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    box-shadow: 0 0 8px black;
    border-radius: 10px;

    overflow: hidden;
    transition: .5s;
}

.pCardsBox:hover {
    transform: scale(1.01);
    background: #8aa6cb;
}

.pCardsBox h4 {
    text-align: justify;
    font-size: var(--fs-h4);
    color: var(--backcolor3);
    text-decoration: underline;
    font-weight: 700;
}

.pCardsBox p {
    text-align: center;
    padding: 5px;
    font-size: .88rem;
    color: var(--backcolor1);
    font-weight: 600;
}

.cardsImgBox {
    width: 100%;
    max-height: 50%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.cardsImgBox img {
    transition: 1s;
    image-rendering: optimizeQuality;
    object-fit: cover;
    max-height: 180px;

}

.pCardsBox img:hover {
    scale: 1.1;
}

.cardsTag {
    background: #052c62;
    /* background: #0a6770; */
    color: var(--secondary);
    width: 100%;
    height: 20px;
    transform: translateY(-100%);
    text-align: center;
    font-weight: 600;
    box-shadow: 0 0 10px var(--secondary);

    opacity: 0.90;
    overflow: hidden;
    transition: 4s;
    animation: tags-anim 4s linear infinite;
}

@keyframes tags-anim {
    25% {
        transform: translateY(-95%);
    }

    50% {
        transform: translateY(-115%);
    }
}

.cards-btn {
    display: inline-block;
    padding: 2px 10px;
    background: var(--secondary);
    border: 2px solid var(--secondary);
    border-radius: 40px;
    box-shadow: 0 0 10px var(--secondary);

    font-size: var(--fs-rebtn);
    color: var(--backcolor1);
    font-weight: 600;

    transition: .5s;
}

.cards-btn:hover {
    background: transparent;
    color: var(--secondary);
    box-shadow: 0 0 5px var(--secondary);
    transform: scale(1.1) translateY(-5%);
}

/* <----------End Projects Section---------> */

/* <----------------About Me---------------> */

#aboutSec {
    background: var(--backcolor3);
    font-family: poppins, sans-serif;
    padding: 50px 25px 25px 25px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#aboutSec h2 {
    font-size: var(--fs-h2);
    color: var(--secondary);
}

#aboutSec p {
    color: var(--accent3);
    font-size: var(--fs-p);
    font-weight: 500;
    text-align: justify;
    padding-left: 25%;
    padding-right: 25%;
}

/* <----------------End About---------------> */

/* <----------------Contact Me---------------> */

#contactSec {

    min-height: 400px;
    padding: 50px 25px 25px 25px;
    gap: 15px;

    background: var(--backcolor2);
    font-family: poppins, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#contactSec h2 {
    font-size: var(--fs-h2);
    color: var(--accent3);
}

#contactSec p {
    color: whitesmoke;
    font-size: var(--fs-p);
    font-weight: 700;
    text-align: justify;
    padding-left: 25%;
    padding-right: 25%;
}

.contactForm {
    background: var(--accent3);
    width: 50%;
    height: 400px;
}

/* <----------------End Contact---------------> */

/* < !-- top button --> */
.btn-up {
    display: inline-flex;
    position: fixed;
    bottom: 1em;
    right: 2em;
    padding: 0;
    margin: 0;
    font-size: var(--fs-scbtn);
    color: var(--secondary);
    transition: 0.5s;
}

.btn-up a {
    display: inline-flex;

    font-size: var(--fs-h1);
    color: black;
    transition: 0.5s;
    opacity: 0.8;
}

.btn-up:hover,
.btn-up a:hover {
    color: var(--backcolor1);
    border-radius: 50%;

    transform: scale(1.1) translateY(-5%) rotate(-5deg);
    animation: btn-up-anim 3s linear infinite;
}

.btn-up a:hover {
    animation-delay: .5s;
    color: rgb(255, 255, 255) !important;
    z-index: 0;
}

@keyframes btn-up-anim {

    33% {
        border-radius: 25%;
    }

    50% {
        transform: rotate(5deg);
        border-radius: 50%;
        box-shadow: 0 0 5px white;
    }

}


/* < !-- top button --> */

#footer {
    background: var(--accent3);
    display: flex;
    padding: 5px;
    justify-content: center;
    text-align: center;
}

#footer h5 {
    text-align: justify;
    font-size: 0.8rem;
}