@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
}

:root 
{
    --backcolor1: #1f242d;
    --backcolor2: #242b37;
    --backcolor3: #2e4057;

    --gradient1: linear-gradient(to top, #accbee 0%, #94accb 100%);

    --secondary: #B8F3FF;
    --accent: #63768D;
    --accent2: #554971;
    --accent3: #94accb;
    --lightpurpleTrans: rgba(55, 7, 67, 0.162);

    --fs-h1: 5rem;
    --fs-h1-span: 6rem;
    --fs-h2: 4rem;
    --fs-h3: 2rem;
    --fs-h4: 1.4rem;
    --fs-h5: 0.9rem;
    --fs-h6: 0.6rem;
    --fs-p: 1rem;

    --fs-navlogo: 2rem;
    --fs-navli: 1.4rem;
    --fs-rebtn: 1rem;
    --fs-scbtn: 1.2rem;
    --fs-asidebtn: 3rem;

    --secondaryResp: #5b2dbd;
}

/* --------MEDIA QUERIES-------- */

@media (max-width:850px) {
    :root {
        /* --secondary: #67db50; */
        --secondary: #B8F3FF;
        --fs-h1: 2.3rem;
        --fs-h1-span: 4rem;
        --fs-h2: 2.5rem;
        --fs-h3: 1.5rem;
        --fs-h4: 1.4rem;
        --fs-h5: 0.8rem;
        --fs-h6: 0.5rem;
        --fs-p: 1rem;

        --fs-navlogo: 1.5rem;
        --fs-navli: 0.7rem;
        --fs-rebtn: 1rem;
        --fs-scbtn: 1rem;
        --fs-asidebtn: 1.5rem;
    }


    /* ---NAVBAR START--- */

    .navBar
    {
        flex-direction: row;
        align-content: center !important;
        align-items: center !important;
        justify-content: space-between !important;
        justify-items: center !important;
        padding:unset !important;
        padding-left:2.5em !important;
        gap:2em !important;
    }
    .navBar ul {
        display: flex; 
        flex-direction: column;
        background-color: var(--accent3);
        width: 100%;
        margin-top: 1em;
        position:relative;
        }

    .navBar i{
     /*  position: relative; */
    }

    .checkON
    {
        right:0;
       /*  transform: translateX(4em); */
    }
    .checkbox-container
    {
        /* display: none !important; */
        flex-direction: column !important;
        
        position: fixed;
        top: -110%;
        right: 0;
        width: 100%;
        height: 40%;
        z-index: 100;
        
        background-color: var(--gradient1);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.7s ease-out;
    }

    .navBar ul li a
    {   
        width: 100%;
        height: auto;
        padding: 0.75em !important;

        display: flex;     
        justify-content: center !important;
        
    
    font-size: 1.6em !important;
    color: var(--accent3) !important;
    background-color: var(--backcolor3);
    border: 1px solid var(--backcolor1) !important;
    box-shadow: 0 0 2px var(--secondary) !important;

    border-bottom: unset !important;
    }

    .navBar ul li a:hover, .navBar ul li.active a:hover
    {
        background-color: var(--accent3);
        color: var(--backcolor3) !important;
        border: 1px solid var(--backcolor3);
        box-shadow: 0 0 15px var(--secondary);
        transform: scale(1.1) translateY(-0.2%);
    }

    .checkON, .checkOFF
    {
        display: flex !important;
        flex-direction: column;
        align-self: center;
    }

    .checkON,
    .checkOFF
    {
        display:block;
    }

        

    #checkbox-status:checked ~ .checkbox-container{
        /* display: flex !important; */
        top:0;
    }

    #checkbox-status:checked ~ #coverlay, #checkbox-status:checked ~#coverlay:hover 
    {   

        background: rgba(0, 0, 0, 0.066);
        
        backdrop-filter: blur(4px) !important;
        height: 100% !important;
        width: 100% !important;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100 !important;
        transition: 0s !important;
        overflow: visible;
    }

    #checkbox-status:checked ~ .checkON
    {
        display:none !important;
    }
   /*  ----END NAVBAR---- */
    .homeSec {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: 100% !important;
        /* margin-top: -50px; */
        padding: 5% 2% 5% 2% !important;

        overflow: hidden;
    }

    .homeInfo {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 5px;
    }

    .typing-text span
    {
        -webkit-text-stroke: .7px var(--secondary);
    }

    .homeS-img:hover {
        /*   transform: scale(1.1) translateX(20%)!important; */
    }

    .homeS-img-Box,
    .homeS-img-Box::before,
    .homeS-img-Box::after {
        padding: 2px !important;
        width: 65vw !important;
        height: 65vw !important;
    }

    #aboutSec p {
        padding: 0 !important;
    }

    #contactSec p {
        padding: 0 !important;
    }

    .projectSec p {
        font-size: var(--fs-p);
    }


    .contactForm
    {
        width: 100% !important;
        height: 18.75em !important;
    }

    .contact-box .user-box input 
    {
         width: 100% !important;
    }
    .contact-box form
    {
        grid-template-columns: 1fr 1fr;
        gap:1em !important;
    }
    .form-btn
    {
        width: 100% !important;
        grid-column: span 2;
    }



    .btn-up
    {
        right:-0.2em !important;
        bottom:0.5em !important;
    }
    .btn-up a {
        font-size: 3rem !important;
    }

    #footer h5
    {
        font-size: var(--fs-h5) ;
    }
    #footer h6
    {
        font-size: var(--fs-h6);
    }

}

/*
    body{
        background: red;
    }

  


    .homeInfo
    {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .homeInfo p
    {
        text-align: justify;
    }

    .projectSec
    {
        max-width: 100vw;
        overflow: hidden;
    }

    .pCardsContain
    {

    }
    .pCardsContain, .pCardsBox
    {
        max-width: 100vw;
    }

} */

/* ---------Desktop CSS----------- */



html {
    scroll-behavior: smooth;

}

body {
    background: var(--backcolor1);
    margin-top: 75px;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

img {
    width: 100%;
    height: auto;
}

main {
    display: flex;
    flex-direction: column;
}

/* <------------Header-----------> */
header {
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
}

.navBar a {
    color: rgb(240, 240, 240);
    text-decoration: none;
}

.navBar i {
    color: white;
    font-size: 3em;
}

.checkbox-container
{
    height: auto;
    display: flex;
    flex-direction: row;
    align-items:center;
    box-sizing: border-box;
    
}

#checkbox-status
{
    display: none;
}
.checkON, .checkOFF
{
    display:none;
}

.navBar {
    background: var(--backcolor3);
    position: fixed;
    width: 100%;
    height: 75px;
    left: 0;
    top: 0;
    padding: 1em 9%;

    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    z-index: 100;
  
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.2s linear forwards;
    animation-delay: 0.5s;
}

.navBar .logoImage {
    font-size: var(--fs-navlogo);
    font-weight: 800;
    transition: .5s ease-in-out;
    padding: 5px; 
}

.navBar .logoImage:hover {
    transform: scale(1.05) translateY(-2%);
    border-bottom: 2px solid var(--accent3);
    color: var(--accent3);
}

.navBar ul {
    display: flex;
    column-gap: 4em;
    box-sizing: border-box;
}

.navBar ul li {
    list-style-type: none;
    transition: .5s;
}

.navBar ul li:hover {
    transform: scale(1.1) translateY(-5%);
}

.navBar ul li a {
    font-size: var(--fs-navli);
    font-weight: 800;
    color: whitesmoke;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: 0.5s ease;
}

.navBar ul li:hover a,
.navBar ul li.active a {
    color: var(--secondary);
    border-bottom: 2px solid var(--accent3);
    box-shadow: 0px 0px 2px 2px rgba(249, 249, 249, 0.021);
}

/* <------------Header End-----------> */

/* <------------WrapperAnimation-----------> */

.wrapperBarsAnim {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.wrapperBarsAnim .bar {
    width: 100%;
    height: 100%;
    background: var(--backcolor2);

    transform: translateY(-100%);
    animation: show-bars .7s ease-in forwards;
    animation-delay: calc(.07s * var(--i));
    opacity: 1;

    overflow: hidden;
}

@keyframes show-bars {
    1% {
        transform: translateY(-50%);
    }

    25% {
        transform: translateY(0%);
        opacity: 0.8;
    }

    50% {
        transform: translateY(50%);
        opacity: 0.6;
    }

    75% {
        transform: translateY(125%);
        opacity: 0.4;
        color: var(--backcolor1)
    }

    100% {
        opacity: 0;
        color: var(--backcolor1);
        visibility: hidden;
    }
}

@keyframes show-content {
    10% {
        visibility: visible;
        opacity: 0.3;
    }

    50% {
        visibility: visible;
        opacity: 0.6;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

/* <----------WrapperAnimation End---------> */

/* <------------Home Section-----------> */

.homeSec {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 1px 9% 0;
    gap: 5px;
    color: whitesmoke;

    visibility: hidden;
    opacity: 0;

    animation: show-content 1s linear forwards;
    animation-delay: 0.5s;
}


.homeInfo {
    display: flex;
    flex-direction: column;
}

.homeInfo h1 {
    font-size: var(--fs-h1);
    font-weight: 700;

    opacity: 0;
    animation: show-content 1s linear forwards;
    animation-delay: 0.7s;
}

.homeInfo h1 span {
    font-size: var(--fs-h1-span);
    color: var(--accent);

    opacity: 0;
    animation: show-content 1s linear forwards;
    animation-delay: 0.9s;
}


/*<-----H3 Animation Fail :)----->*/
/*<-----Responive Compatibility------->*/
/* .homeInfo h3 {
    font-size: var(--fs-h3);
    font-weight: 700;
    margin-top: -10px;
    letter-spacing: 1.5px;

    opacity: 0;
    animation: show-content 1s linear forwards;
    animation-delay: 0.8s;
}

.homeInfo h3 span {
    display: inline-block;
    position: relative;
    color: transparent;
    margin-bottom: 0.3rem;
    -webkit-text-stroke: .7px var(--secondary);
    animation: display-h3 15s linear infinite;
    animation-delay: calc(-3s * var(--l));
}

.homeInfo h3 span::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid var(--secondary);
    color: var(--secondary);
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 3s linear infinite;
}

@keyframes display-h3 {

    20%,
    100% {
        display: none;
    }
}

@keyframes fill-text {

    10%,
    100% {
        width: 100%;
    }

    70%,
    100% {
        width: 0%;
    }
}

*/
/*<-----H3 Animation Fail :)----->*/
/*<-----Responsive Compatibility------->*/

@keyframes fill-text 
{
    10%, 100% {width: 100%;}
    70%, 100% {width: 0%;}
}

.typing-text h3
{
    font-size: var(--fs-h3);
    margin-bottom: 1rem;
    font-weight: 700;


}
.typing-text
{
    font-size: var(--fs-h3);
    font-weight: 700;
    min-width: 280px; 
    text-align: justify;
    opacity: 0;
        animation: show-content 1s linear forwards;
        animation-delay: 1s;
}
.typing-text span
{
    display: inline-block;
    position: relative;
    color: var(--secondary);
    opacity: 0.9;
    margin-bottom: 0.3rem;
    -webkit-text-stroke: .7px var(--secondary);
    animation-delay: calc(-3s * var(--l));
}

.typing-text span::before
{
    content:"Full-Stack Developer";
    color:#20606b;
    animation: words 15s infinite;
}

.typing-text span::after
{

    content: "";
    background: var(--secondary);
    opacity: 0.4;
    height: 100%;
    width: calc(100%+8px);
    border-left: 3px solid var(--secondary);
    right:-2px;
    width: 0;
    

    position: absolute;
    color: var(--secondary);
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 3s linear infinite;
}

@keyframes words
{
    0%, 20%{content:"Full-Stack Developer.";}
    21%, 40%{content:"Real Estate Veteran.";}
    41%, 60%{content:"Musician.";}
    61%, 80%{content:"Team Player.";}
    81%, 100%{content:"Good Hire :)";}
}

.homeInfo p {
    width: 90%;
    font-size: var(--fs-p);
    margin: 10px 0px 25px;

    visibility: hidden;
    opacity: 0;
    animation: show-content 1s linear forwards;
    animation-delay: 0.8s;
    transition: 0.5s;
}

.homeInfo p:hover {
    transform: scale(1.005);
    color: rgb(226, 224, 224);
}

.homeInfo .snrIcons {
    display: flex;
    align-items: center;

    visibility: hidden;
    opacity: 0;
    animation: show-content 1s linear forwards;
    animation-delay: 1.1s;
}

.btn-sci {
    display: inline-block;
    padding: 10px 30px;
    background: var(--secondary);
    border: 2px solid var(--secondary);
    border-radius: 40px;
    box-shadow: 0 0 10px var(--secondary);

    font-size: var(--fs-rebtn);
    color: var(--backcolor1);
    font-weight: 600;

    transition: .5s;
}

.btn-sci:hover {
    background: transparent;
    color: var(--secondary);
    box-shadow: 0 0 5px var(--secondary);
    transform: scale(1.1) translateY(-5%);
}

.homeSec .snrIcons .socialIcons {
    margin-left: 20px;
}

.homeSec .snrIcons .socialIcons a {
    display: inline-flex;
    padding: 8px;
    margin: 0 8px;
    border: 2px solid var(--secondary);
    border-radius: 50%;
    font-size: var(--fs-scbtn);
    color: var(--secondary);

    transition: 0.5s;
}

.homeSec .snrIcons .socialIcons a:hover {
    background-color: var(--secondary);
    color: var(--backcolor1);
    box-shadow: 0 0 10px var(--secondary);
    transform: scale(1.3) translateY(-10%);
}

.homeS-img {
    transition: 2s;
    opacity: 0.85;
    border-radius: 50%;
}

.homeS-img:hover {
    transform: translate(20px, -10px) scale(1.01);
    opacity: .5;
    /*  background-color: var(--backcolor2); */
    border-radius: 50%;
    box-shadow: 5px 5px 15px 0px rgba(76, 159, 242, 0.05);
}

.homeS-img .homeS-img-Box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 30vw;
    padding: 2px;
    border-radius: 50%;

    overflow: hidden;
    z-index: 1;

    visibility: hidden;
    opacity: 0;
    animation: show-content 1s linear forwards;
    animation-delay: 1s;
}

.homeS-img .homeS-img-Box::before,
.homeS-img .homeS-img-Box::after {
    content: ' ';
    position: absolute;
    width: 30vw;
    height: 30vh;
    background: conic-gradient(transparent, transparent, transparent, var(--secondary));

    transform: rotate(0deg);
    animation: rotate-border 6s linear infinite;
}

.homeS-img .homeS-img-Box::after {
    animation-delay: -3s;
}

@keyframes rotate-border {
    100% {
        transform: rotate(360deg);
    }
}

.homeS-img .homeS-img-Box .homeS-img-Item {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--backcolor1);
    /*   border: .2px solid var(--backcolor1); */
    border-radius: 50%;

    z-index: 1;
    overflow: hidden;
}

.homeS-img .homeS-img-Box .homeS-img-Item img {
    position: absolute;
    display: block;
    width: 85%;
    object-fit: cover;
    border-radius: 50%;
    mix-blend-mode: lighten;
}

/* <------------End Home Section-----------> */


/* <--------------Aside Bar-------------> */
#asideBar {
    background: var(--backcolor2);
    min-height: 100px;
}

.asideBox {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 10px;
    padding-top: 10px;
    justify-content: space-evenly;
}

.asideItem {

    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: transparent;
}

.asideItem a {

    display: flex;
    flex-grow: grow;

    padding: 10px;

    border: 2px solid var(--secondary);
    border-radius: 50%;
    font-size: var(--fs-asidebtn);
    color: var(--secondary);
    background-color: var(--backcolor3);
    box-shadow: 0 0 5px var(--secondary);
    transition: 0.5s;
}

.asideItem a:hover {
    background-color: var(--secondary);
    color: var(--backcolor3);
    border: 2px solid var(--backcolor3);
    box-shadow: 0 0 5px var(--secondary);
    transform: scale(1.1) translateY(-5%);
}

/* <------------Aside Bar End-----------> */


/* <------------Projects Section-----------> */

.projectSec {
    background: var(--accent3);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    padding: 70px 25px 70px 25px;

    overflow: hidden;
}

.projectSec h2 {
    color: var(--backcolor3);
    font-size: var(--fs-h2);
    text-decoration: underline;
}

.pCardsContain {
    background: var(--accent3);

    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.pCardsBox {
    background: transparent;
    min-height: 450px;
    padding: 0;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6em;

    box-shadow: 0 0 8px black;
    border-radius: 10px;

    overflow: hidden;
    transition: .5s;
}

.pCardsBox:hover {
    transform: scale(1.035);
    background: #8aa6cb;
}

.pCardsBox h4 {
    text-align: justify;
    font-size: var(--fs-h4);
    color: var(--backcolor3);
    text-decoration: underline;
    font-weight: 700;
}

.pCardsBox p {
    text-align: center;
    padding: 5px;
    font-size: .88rem;
    color: var(--backcolor1);
    font-weight: 600;
}

.cardsImgBox {
    width: 100%;
    max-height: 50%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.cardsImgBox img {
    transition: 1s;
    image-rendering: optimizeQuality;
    object-fit: cover;
    max-height: 180px;

}

.pCardsBox img:hover {
    scale: 1.1;
}

.cardsTag {
    background: #052c62;
    /* background: #0a6770; */
    color: var(--secondary);
    width: 100%;
    height: 20px;
    transform: translateY(-100%);
    text-align: center;
    font-weight: 600;
    box-shadow: 0 0 10px var(--secondary);

    opacity: 0.90;
    overflow: hidden;
    transition: 4s;
    animation: tags-anim 4s linear infinite;
}

@keyframes tags-anim {
    25% {
        transform: translateY(-95%);
    }

    50% {
        transform: translateY(-115%);
    }
}

.cards-btn {
    display: inline-block;
    margin-top: 0.5em;
    padding: 0.3em 1em;
    background: var(--secondary);
    border: 2px solid var(--secondary);
    border-radius: 40px;
    box-shadow: 0 0 10px var(--secondary);

    font-size: var(--fs-rebtn);
    color: var(--backcolor1);
    font-weight: 600;

    transition: .5s;
}

.cards-btn:hover {
    background: transparent;
    color: var(--secondary);
    box-shadow: 0 0 5px var(--secondary);
    transform: scale(1.1) translateY(-5%);
}

/* <----------End Projects Section---------> */

/* <----------------About Me---------------> */

#aboutSec {
    background: var(--backcolor3);
    font-family: poppins, sans-serif;
    padding: 50px 25px 100px 25px;
    gap: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#aboutSec h2 {
    font-size: var(--fs-h2);
    color: var(--secondary);
}

#aboutSec p {
    color: var(--accent3);
    font-size: var(--fs-p);
    font-weight: 500;
    text-align: justify;
    padding-left: 25%;
    padding-right: 25%;
}

/* <----------------End About---------------> */

/* <----------------Contact Me---------------> */

#contactSec {

    min-height: 400px;
    padding: 50px 25px 50px 25px;
    gap: 15px;

    background: var(--backcolor2);
    font-family: poppins, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#contactSec h2 {
    font-size: var(--fs-h2);
    color: var(--accent3);
}

#contactSec p {
    color: whitesmoke;
    font-size: var(--fs-p);
    font-weight: 700;
    text-align: justify;
    padding-left: 25%;
    padding-right: 25%;
    margin-top: 2em;
}

.contactForm {
   
    width: 50%;
    height: 400px;
    position: relative;
}

/* -------------------------- */
.contact-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: var(--backcolor1);
    box-sizing: border-box;
    box-shadow: 0px 0px 15px 2px #030d672f;
    border-radius: 10px;
}

.contact-box form
{
    display: grid;
}

.contact-box .user-box {
    position: relative;
}

.contact-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size:  1.25rem;
    color: #00fbff;
    font-weight: 500;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.contact-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 1.25em;
    font-weight: 600;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.contact-box .user-box input:focus~label
{
    top: -20px;
    left: 0;
    color: var(--secondary);
    font-size: 0.8rem;
}
.contact-box .user-box input:valid~label
{
    top: -20px;
    left: 0;
    color: greenyellow;
    font-size: 0.8rem;
}


.contact-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: var(--secondary);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.form-btn
{
    display: inline-block;
    padding: 10px 30px;
    background: var(--secondary);
    border: 2px solid var(--secondary);
    border-radius: 40px;
    box-shadow: 0 0 10px var(--secondary);
    font-size: var(--fs-rebtn);
    color: var(--backcolor1);
    font-weight: 600;

    width: 50%;
    align-self: center;
    justify-self: center;

    transition: .5s;
}

/* <----------------End Contact---------------> */

/* < !-- top button --> */
.btn-up {
    display: inline-flex;
    position: fixed;
    bottom: 1em;
    right: 2em;
    padding: 0;
    margin: 0;
    font-size: var(--fs-scbtn);
    color: var(--secondary);
    transition: 0.5s;
}

.btn-up a {
    display: inline-flex;

    font-size: var(--fs-h1);
    color: black;
    transition: 0.5s;
    opacity: 0.8;
    text-decoration: none;
}

.btn-up:hover,
.btn-up a:hover {
    color: var(--backcolor1);
    border-radius: 50%;

    transform: scale(1.1) translateY(-5%) rotate(-5deg);
    animation: btn-up-anim 3s linear infinite;
}

.btn-up a:hover {
    animation-delay: .5s;
    color: rgb(255, 255, 255) !important;
    z-index: 0;
}

@keyframes btn-up-anim {

    33% {
        border-radius: 25%;
    }

    50% {
        transform: rotate(5deg);
        border-radius: 50%;
        box-shadow: 0 0 5px white;
    }

}
/* < !-- top button --> */


/* < !-- Footer --> */
#footer 
{
    background: var(--accent3);
    display: flex;
    
    padding: 0.3em 1em;
    
    justify-content: space-between;
    text-align: center;
}

#footer h5 
{
    text-align: justify;
    font-size: var(--fs-h5);
    align-self: center;
}


#footer h6 {
    text-align: justify;
    font-size: var(--fs-h6);
    padding-right: 1em;
}
/* < !-- Footer End--> */