*{   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --clr-white: #FFFFFF;
    --clr-dark: #1A1A1AD4;
    --clr-accent:#D31C75;

    --clr-h1: #FFFFFF;
    --clr-p: #F9F9F9;

    --ff-h1: normal normal 900 1.9em/53px Heebo;
    --ff-p: normal normal normal 1em/29px Heebo;
    --ff-label: normal normal bold 0.9em/24px Helvetica;
    --ff-button: normal normal bold 1em/30px Helvetica;
}
html
{
    scroll-behavior: smooth;
}

main 
{
    display: flex;
    flex-direction: column;
}

img 
{
    width: 100%;
    height: auto;
}

.banner
{
    width: 100%;
    height: 57vh;
    /* background-image: url("/Projects/ProjectName1/images/background@2x.png"); */
    background-image: url("/Portfolio-HTML-CSS/Projects/ProjectName1/images/background@2x.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;

    position: relative;
    display: flex;
    align-items: center;
}
.formBox
{
    background-color: var(--clr-dark);
    top:25%;
    right:15.5%;
    
    width: 30.5em;
    height: 110%;
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-items: left;
    padding: 3em;
    row-gap: 0.8em;
}
.formBox h1
{
    font: var(--ff-h1);
    color: var(--clr-h1);
}
.formBox p
{
    font: var(--ff-p);
    color: var(--clr-p);
}
.contactForm
{
    row-gap:30em;
}
.contactForm label
{
    font: var(--ff-label);
    color: var(--clr-white);  

}
.contactForm input
{
    width: 100%;
    height: 2.6em;
    border: 1px solid #D31C75;
}
.contactForm button
{
    font: var(--ff-button);
    color: var(--clr-white);
    background: var(--clr-accent);

    margin-top: 0.5em;
    padding: 0.35em 1.8em;
    border: none;
}

@media (max-width: 750px)
{
    :root
    {
        --ff-h1: normal normal 900 1.9rem/53px Heebo;
        --ff-p: normal normal normal 1.2em/29px Heebo;
        --ff-label: normal normal bold 0.9em/24px Helvetica;
        --ff-button: normal normal bold 1em/30px Helvetica;
    }
    .banner
    {

        height:30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-size: 100% 100%;
        background-position: center;
    }
    .formBox
    {
        top: 40%;
        right:unset;
        width: 80%;
        min-height: 100% !important;
        padding:1em;
        padding-top: 2em;
        padding-bottom: 28em;
        align-items: center;
        justify-items: center;
    }
    .formBox h1
    {
        width: 65%;
        font: var(--ff-h1);
        color: var(--clr-h1);
        text-align: center;
    }
    .formBox p 
    {
        font: var(--ff-p);
        color: var(--clr-p);
        text-align: center;
        width: 90%;
    }
    .contactForm 
    {
        row-gap: 30em;
        width: 85%;
    }
    .contactForm label 
    {
        font: var(--ff-label);
        color: var(--clr-white);
    }
}